{% extends 'Pagina_Blog/base.html' %}

{% block title_pagina %}
    <title>About us</title>
{% endblock title_pagina %} 

{% block mi_contenido %}
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">First App with Django for CoderHouse!</h1>
            <p class="lead mb-0">Our first blog template for Django Project</p>
            <p class="lead mb-0">Jaramillo Rodrigo</p>
            <p class="lead mb-0">Prado Santiago</p>
            <p class="lead mb-0">Ussher Santiago</p>
        </div>
    </div>
    
{% endblock mi_contenido %}