{% extends 'Pagina_Blog/base.html' %}

{% block title_pagina %}
<title>Users list</title>
{% endblock title_pagina %}

{% block mi_contenido %}
<div class="list--container">
    <p>Listado de usuarios: </p><br>
    <form action={% url 'users' %} method="GET" class="form--wrapper">
        {{formulario}}
        <input type="submit" value="Buscar" class="input--submit">
    </form>
    <br>
    <ol>
        {% for usuario in usuarios %}
        <li>
            {{usuario.nombre.capitalize}} {{usuario.apellido.capitalize}}
            <p>Email: {{usuario.email}}</p>
        </li>
        {% endfor %}
    </ol>
</div>
{% endblock mi_contenido %}