{% extends 'Pagina_Blog/base.html' %}

{% block title_pagina %}
    <title>Profile</title>
{% endblock title_pagina %} 

{% block mi_contenido %}
    <h1>Perfil de {{user.username.capitalize}}</h1>
    <div>
        {% if  request.user.extensionusuario.avatar %}
        <img class="profilepic" src={{request.user.extensionusuario.avatar.url}}>
        {% else %}
        <p>Sin foto de perfil</p>
        {% endif %}
    </div>
    <ul>
        <li>Nombre: {{user.first_name.capitalize}}</li>
        <li>Apellido: {{user.last_name.capitalize}}</li>
        <li>Email: {{user.email}}</li>
        <li>Descripcion: <br> {{request.user.extensionusuario.description}}</li>
        {% if request.user.extensionusuario.website %}
            <li>Sitio Web: <a href={{request.user.extensionusuario.website}} target="_blank">{{request.user.extensionusuario.website}}</a></li>
        {% else %}
            <li>Sitio web: </li>
        {% endif %}
    </ul>
    <a href={% url 'edit_profile' %}>Editar perfil</a><br>
    <a href={% url 'password' %}>Cambiar contraseña</a><br>
{% endblock mi_contenido %}
